In [27]:
f=open("phone-numbers.txt","r")
flag=0
n="0"
while(n!=0):
    n=f.readline()
    n=int(n)
    if(n==1234):
        print("got the number")
        flag=1
if(flag==0):
    print("number not found")

ValueError: invalid literal for int() with base 10: ''

In [28]:
import string
def cipher():
    l=string.ascii_lowercase
    l=list(l)
    d={}
    for i in range(len(l)):
        d[l[i]]=l[(i+3)%26]
    return d
f=open("sherlock.txt","r")
g=open("encrypted_sherlock.txt","w")
d=cipher()
c=f.read(1)
while(c!=""):
    g.write(d[c])
    c=f.read(1)
f.close()
g.close()

KeyError: 'T'

In [29]:
a=open("checking.txt","r")
b=a.read()
print("oo"in b)

True

In [30]:
import pandas as pd
a=pd.read_csv("goal.csv")
print(a)
print(a["minute"].mean())

             date    home_team away_team         team                scorer  \
0      1916-07-02        Chile   Uruguay      Uruguay       José Piendibene
1      1916-07-02        Chile   Uruguay      Uruguay      Isabelino Gradín
2      1916-07-02        Chile   Uruguay      Uruguay      Isabelino Gradín
3      1916-07-02        Chile   Uruguay      Uruguay       José Piendibene
4      1916-07-06    Argentina     Chile    Argentina         Alberto Ohaco
...           ...          ...       ...          ...                   ...
44105  2024-02-10        Qatar    Jordan        Qatar            Akram Afif
44106  2024-02-10        Qatar    Jordan        Qatar            Akram Afif
44107  2024-02-11  Ivory Coast   Nigeria      Nigeria  William Troost-Ekong
44108  2024-02-11  Ivory Coast   Nigeria  Ivory Coast         Franck Kessié
44109  2024-02-11  Ivory Coast   Nigeria  Ivory Coast      Sébastien Haller

       minute own_goal penalty
0        44.0    False   False
1        55.0    False   False
2        70.0    False   False
3        75.0    False   False
4         2.0    False   False
...       ...      ...     ...
44105    73.0    False    True
44106    90.0    False    True
44107    38.0    False   False
44108    62.0    False   False
44109    81.0    False   False

[44110 rows x 8 columns]
50.01521198713709

In [31]:
print(a["minute"].count())

43847

In [32]:
print(a["minute"].max())

122.0

In [33]:
print(a["minute"].sort_values())

1134     1.0
14745    1.0
18634    1.0
3704     1.0
40603    1.0
        ...
16798    NaN
16824    NaN
16825    NaN
16826    NaN
16835    NaN
Name: minute, Length: 44110, dtype: float64

In [35]:
#Data frame is nothing but the full data set of csv file
print(a["team"],type(a["team"]))
#the above is series it means any column in data frame

0            Uruguay
1            Uruguay
2            Uruguay
3            Uruguay
4          Argentina
            ...
44105          Qatar
44106          Qatar
44107        Nigeria
44108    Ivory Coast
44109    Ivory Coast
Name: team, Length: 44110, dtype: object <class 'pandas.core.series.Series'>

In [36]:
print(a.head())#prints top 5 rows

         date  home_team away_team       team            scorer  minute  \
0  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    44.0
1  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    55.0
2  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    70.0
3  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    75.0
4  1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco     2.0

  own_goal penalty
0    False   False
1    False   False
2    False   False
3    False   False
4    False   False

In [37]:
print(a.tail())#last five rows print

             date    home_team away_team         team                scorer  \
44105  2024-02-10        Qatar    Jordan        Qatar            Akram Afif
44106  2024-02-10        Qatar    Jordan        Qatar            Akram Afif
44107  2024-02-11  Ivory Coast   Nigeria      Nigeria  William Troost-Ekong
44108  2024-02-11  Ivory Coast   Nigeria  Ivory Coast         Franck Kessié
44109  2024-02-11  Ivory Coast   Nigeria  Ivory Coast      Sébastien Haller

       minute own_goal penalty
44105    73.0    False    True
44106    90.0    False    True
44107    38.0    False   False
44108    62.0    False   False
44109    81.0    False   False

In [38]:
print(a[a["team"]=="Qatar"]) #to acess perticular element from the column of data frame like perticular qatar rows and coumn of team

             date home_team             away_team   team  \
7786   1977-03-13     Qatar               Bahrain  Qatar
7787   1977-03-13     Qatar               Bahrain  Qatar
7820   1977-03-21     Qatar                Kuwait  Qatar
8932   1980-09-17     Qatar  United Arab Emirates  Qatar
8934   1980-09-17     Qatar  United Arab Emirates  Qatar
...           ...       ...                   ...    ...
44100  2024-02-07     Qatar                  Iran  Qatar
44102  2024-02-07     Qatar                  Iran  Qatar
44103  2024-02-10     Qatar                Jordan  Qatar
44105  2024-02-10     Qatar                Jordan  Qatar
44106  2024-02-10     Qatar                Jordan  Qatar

                               scorer  minute own_goal penalty
7786                   Mansour Muftah    40.0    False   False
7787   Hassan Myuter Saied Al Suwaidi    62.0    False   False
7820             Anbar Bashir Abubakr    82.0    False    True
8932                   Mansour Muftah    50.0    False   False
8934                   Mansour Muftah    60.0    False   False
...                               ...     ...      ...     ...
44100                      Akram Afif    43.0    False   False
44102                      Almoez Ali    82.0    False   False
44103                      Akram Afif    22.0    False    True
44105                      Akram Afif    73.0    False    True
44106                      Akram Afif    90.0    False    True

[284 rows x 8 columns]

In [39]:
print(a[a["team"]=="Uruguay"]["scorer"])#from perticular rows then from perticular column give data

0               José Piendibene
1              Isabelino Gradín
2              Isabelino Gradín
3               José Piendibene
16             Isabelino Gradín
                  ...
42381    Giorgian de Arrascaeta
42421               Luis Suárez
42422         Federico Valverde
43003    Giorgian de Arrascaeta
43004    Giorgian de Arrascaeta
Name: scorer, Length: 793, dtype: object

In [40]:
print(a[a["team"]=="Uruguay"]["scorer"].max())#from perticular rows then from perticular column give data find max goals

Óscar Míguez

In [41]:
print(a[a["team"]=="Uruguay"]["minute"]>10)#from team time >10

0        True
1        True
2        True
3        True
16       True
         ...
42381    True
42421    True
42422    True
43003    True
43004    True
Name: minute, Length: 793, dtype: bool

In [42]:
print(a[a["minute"].between(30,100)])#between function to find the interval between range

             date    home_team away_team         team                scorer  \
0      1916-07-02        Chile   Uruguay      Uruguay       José Piendibene
1      1916-07-02        Chile   Uruguay      Uruguay      Isabelino Gradín
2      1916-07-02        Chile   Uruguay      Uruguay      Isabelino Gradín
3      1916-07-02        Chile   Uruguay      Uruguay       José Piendibene
5      1916-07-06    Argentina     Chile        Chile        Telésforo Báez
...           ...          ...       ...          ...                   ...
44105  2024-02-10        Qatar    Jordan        Qatar            Akram Afif
44106  2024-02-10        Qatar    Jordan        Qatar            Akram Afif
44107  2024-02-11  Ivory Coast   Nigeria      Nigeria  William Troost-Ekong
44108  2024-02-11  Ivory Coast   Nigeria  Ivory Coast         Franck Kessié
44109  2024-02-11  Ivory Coast   Nigeria  Ivory Coast      Sébastien Haller

       minute own_goal penalty
0        44.0    False   False
1        55.0    False   False
2        70.0    False   False
3        75.0    False   False
5        44.0    False   False
...       ...      ...     ...
44105    73.0    False    True
44106    90.0    False    True
44107    38.0    False   False
44108    62.0    False   False
44109    81.0    False   False

[32042 rows x 8 columns]

In [70]:
print(a[a["minute"].between(30,100)].shape[0])#between function to find the interval between range and then find tuple usinbg shape function like it will print the nop of rows

32042

In [71]:
print(a[(a["team"]=="Uruguay")&(a["minute"]>30)].shape[0])#in pandas we use numpy and as & not and here we are using 2 parameters and finding the tuple ,number of rows

547

In [78]:
k=(a.groupby("scorer").groups)
print(k)#groups the scorer column based on number of id or match id played by the player

{'A'ala Hubail': [23353, 23354, 23740, 23741, 23742, 24161, 24179, 24180, 24191, 24194, 27243, 27648, 27680], 'A. Elangovan': [13983], 'Aage Rou Jensen': [2478], 'Aaran Lines': [21378, 21442, 23642], 'Aaron Boupendza': [42146], 'Aaron Hughes': [30820], 'Aaron Long': [38611, 38616], 'Aaron Mooy': [34657, 35623, 39026, 42288], 'Aaron Njovu': [9641, 10666], 'Aaron Ramsey': [29712, 30947, 31199, 32606, 33110, 33417, 34274, 35238, 35882, 36838, 37215, 37703, 39591, 39592, 40824, 41530, 41976, 41978, 43546], 'Aaron Tumwa': [34434], 'Aarón Padilla Gutiérrez': [4293, 4305], 'Aarón Suárez': [43360], 'Aatef Jenyat': [27270], 'Aavo Sillandi': [1001], 'Abat Aymbetov': [39688, 40032, 42511, 42512, 42630, 43137, 43305, 43768], 'Abay Bokoleyev': [40709], 'Abbas Ahmed Atwi': [31513, 34980], 'Abbas Chahrour': [20200], 'Abbas Hassan Hassun': [20868, 20871], 'Abbas Obeid': [20236], 'Abbas Souan': [25012], 'Abbosbek Fayzullaev': [43934, 44069], 'Abdah Alif': [8949], 'Abdallah Azhar': [3363, 3415, 3616], 'Abdallah Deeb': [30728, 30903, 31319, 34851, 34853, 35567, 35627], 'Abdallah El Said': [35442, 36262, 36472, 36557], 'Abdel Halim Ali': [19230, 23733, 25275, 25277], 'Abdel Kafi El-Sheikh': [5274], 'Abdel Rasoul Hesham': [11835, 12212, 12242], 'Abdel Razak Al-Farjani': [11006], 'Abdel Razak Jaranah': [9626], 'Abdel Sattar Sabry': [17527, 18916, 20497, 21553], 'Abdel-Hadi Al-Maharmeh': [24696], 'Abdel-Zaher El-Saqqa': [20499, 26051], 'Abdelatif Bahdari': [35666], 'Abdelaziz Barrada': [32891], 'Abdelaziz Daidi': [9238], 'Abdelaziz Ibrahim Adam': [4054], 'Abdelfattah El Khattari': [19525, 19526], 'Abdelfettah Rhiati': [11126, 11820], 'Abdelghani Lakhal': [7676], 'Abdelhafid Tasfaout': [13313, 13315, 13814, 14326, 14591, 16018, 19217, 19242, 20496, 21028], 'Abdelhakim Serrar': [12450], 'Abdelilah Hafidi': [32484], 'Abdeljalil Hadda': [18192, 18276, 19868, 19869, 20873, 20874], 'Abdelkabir Mezyane': [13650], 'Abdelkader Ben Hassen': [15805], 'Abdelkader Ferhaoui': [11597], 'Abdelkader Ghezzal': [29112, 29645], 'Abdelkader Rakbaoui': [10397, 10966], 'Abdelkarim Hassan': [34877, 38079, 38851], 'Abdelkrim Merry': [11111, 11203, 11583], 'Abdellah Tazi': [7448], 'Abdelmajid Bouyboud': [13603, 14393], 'Abdelmajid Chetali': [3378, 4045, 4580], 'Abdelmajid Tlemçani': [3379], 'Abdelmalek Cherrad': [23105, 23106, 23335, 23963], 'Abdelmoumene Djabou': [33666, 33729], 'Abdelmutaleb Nasir': [3160], 'Abdelrazak Belgharbi': [11598], 'Abdelrazaq Al Hussain': [30259, 30261, 34331, 35587], 'Abdelwahab Lahmar': [4538], 'Abdelâali Zahraoui': [7440, 7461], 'Abderraouf Ben Aziza': [8127, 8155, 8179, 8181], 'Abderrazak Hamdallah': [32805], 'Abderrazak Khairi': [11201, 11202], 'Abdesalam Kames': [26016], 'Abdeslam Laghrissi': [14596], 'Abdeslam Ouaddou': [23306, 27557], 'Abdessalam Benjelloun': [27839], 'Abdesselam Adhouma': [6560], 'Abdesselem Cheman': [5481], 'Abdi Idleh Hamza': [38776], 'Abdiel Arroyo': [35837, 35981, 36941, 37220, 38604], 'Abdoh Otaif': [28225, 28535, 29019], 'Abdolreza Barzegari': [8956, 8960], 'Abdou Bin Amidou': [9107], 'Abdou Diallo': [41117, 42303], 'Abdou Jammeh': [31751, 35019], 'Abdou Karim Sèye': [10292], 'Abdou Traoré': [32652], 'Abdou-Rahman Njie': [23096], 'Abdoul Camara': [31620, 31641, 31897], 'Abdoul Tapsoba': [41326, 41534, 41535, 41668], 'Abdoul-Aziz Nikiema': [24256], 'Abdoulai Demba': [25607], 'Abdoulay Diaby': [38646], 'Abdoulaye Ba': [7649], 'Abdoulaye Cissé': [25585, 25587], 'Abdoulaye Emmerson': [11656, 11658], 'Abdoulaye Faye': [25034, 27572, 27750], 'Abdoulaye M'Baye': [19233], 'Abdoulaye Makhtar Diop': [5367], 'Abdoulaye Seck': [44006], 'Abdoulaye Traoré': [10366, 10367, 10390, 11099, 11100, 11115, 11582, 11590, 12432, 12433, 13324, 13326, 13329, 13392, 13645, 13943, 14762], 'Abdukahhor Marifaliev': [17473, 17477], 'Abdul Aziz Al-Muqbali': [31691, 32664, 34064, 35204, 35205, 39160, 39161], 'Abdul Aziz Corr': [15923], 'Abdul Farooq': [14123], ...}

In [80]:
df=pd.DataFrame(k)
df.to_csv("new.csv",index=False)#exports the scutinied file to csv saves to desktop

ValueError: All arrays must be of the same length